myVoc/.exampleFlows.json.backup
[{"id":"3e20993d.c684a6","type":"tab","label":"Example flow","disabled":true,"info":""},{"id":"859dd57f5dd3d187","type":"tab","label":"Stress test","disabled":true,"info":""},{"id":"0eb9eb9c6e2ef398","type":"tab","label":"Okoshaz","disabled":false,"info":""},{"id":"9b7d5f1e.3fabc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e97008a6.baaeb8","type":"ui_group","name":"Gauge","tab":"9b7d5f1e.3fabc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e18cd293.17e2d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3ca754b.ad6ed8","type":"ui_group","name":"Vertical Tank","tab":"9b7d5f1e.3fabc","order":2,"disp":true,"width":"6","collapse":false},{"id":"224e2422.a02d9c","type":"ui_group","name":"Horizontal Tank","tab":"9b7d5f1e.3fabc","order":3,"disp":true,"width":"6","collapse":false},{"id":"252ab743c76c9e0d","type":"mqtt-broker","name":"Mosquitto","broker":"test.mosquitto.org","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"438e4068.f76dd","type":"comment","z":"3e20993d.c684a6","name":"Add webtables","info":"The node-red editor.","x":80,"y":180,"wires":[]},{"id":"94425c3b.07e24","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"Base","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"talp_krom.mesh","id":"pendulum","position":{"x":747.6593627929688,"y":100,"z":-4.65392541885376},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":60,"y":60,"z":60},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j2_2","text":"base2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_2"},"a_attr":{"href":"#","id":"j2_2_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"talp_muanyag.mesh","id":"base2","position":{"x":0,"y":-0.15000000596046448,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j2_3","text":"horizpen1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_3"},"a_attr":{"href":"#","id":"j2_3_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","id":"horizpen1","position":{"x":0,"y":0.699999988079071,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j3_5","text":"horizpen2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_5"},"a_attr":{"href":"#","id":"j3_5_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","id":"horizpen2","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j3_6","text":"vertpen","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_6"},"a_attr":{"href":"#","id":"j3_6_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","id":"vertpen","position":{"x":0,"y":0,"z":1.7999999523162842},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"},{"id":"j2_4","text":"zeroindicator","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_4"},"a_attr":{"href":"#","id":"j2_4_anchor"},"state":{"loaded":true,"opened":false,"selected":true,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","id":"zeroindicator","position":{"x":0,"y":-0.6000000238418579,"z":0.5},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":0.20000000298023224,"y":0.20000000298023224,"z":0.20000000298023224},"autophysical":true,"physical":{"raycast":true,"phyObj":"None"}}},"children":[],"type":"child"}],"type":"root"},"name":"Pendulum","save":true,"create":"init","x":700,"y":220,"wires":[[]]},{"id":"a3c557ef.58bd08","type":"add-light","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"exp-light","position":{"x":0,"y":600,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"link-type":"static","raycast":false,"collision":false},"lighttype":"point","diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":-1,"z":0},"autophysical":false}},"x":320,"y":220,"wires":[[]]},{"id":"17d646a9.b2c1f9","type":"comment","z":"3e20993d.c684a6","name":"add meshes","info":"","x":490,"y":180,"wires":[]},{"id":"aa03821f.df208","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"General","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin1","position":{"x":-1125.94677734375,"y":72.49665069580078,"z":339.6602478027344},"orientation":{"w":0.9558459520339966,"x":0,"y":0.29386821389198303,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_2","text":"Colonel 1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_2"},"a_attr":{"href":"#","id":"j1_2_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin2","position":{"x":200,"y":100,"z":-100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_4","text":"Captain 1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_4"},"a_attr":{"href":"#","id":"j1_4_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin4","position":{"x":100,"y":100,"z":-100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j1_5","text":"Captain 2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_5"},"a_attr":{"href":"#","id":"j1_5_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin5","position":{"x":-100,"y":100,"z":-100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"},{"id":"j1_3","text":"Colonel 2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_3"},"a_attr":{"href":"#","id":"j1_3_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin3","position":{"x":-200,"y":100,"z":-100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_6","text":"Captain 3","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_6"},"a_attr":{"href":"#","id":"j1_6_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin6","position":{"x":100,"y":100,"z":-100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j1_7","text":"Captain 4","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_7"},"a_attr":{"href":"#","id":"j1_7_anchor"},"state":{"loaded":true,"opened":false,"selected":true,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"penguin7","position":{"x":-100,"y":100,"z":-100},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None"}}},"children":[],"type":"child"}],"type":"child"}],"type":"root"},"name":"Penguin army","save":true,"create":"init","x":720,"y":280,"wires":[[]]},{"id":"7fc7a0d0.294a5","type":"comment","z":"3e20993d.c684a6","name":"Add light","info":"","x":320,"y":180,"wires":[]},{"id":"28e31465.a073ac","type":"mw-gauge","z":"3e20993d.c684a6","settings":{"configType":"file","configFile":"gauge1.json"},"x":350,"y":1120,"wires":[]},{"id":"3b203b9f.43a4d4","type":"ui_slider","z":"3e20993d.c684a6","name":"Pressure slider","label":"Pressure","tooltip":"","group":"e97008a6.baaeb8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1000","step":1,"x":140,"y":1120,"wires":[["28e31465.a073ac"]]},{"id":"6926e376.1b92bc","type":"ui_slider","z":"3e20993d.c684a6","name":"Color slider","label":"Color","tooltip":"","group":"224e2422.a02d9c","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setColor","min":0,"max":"1000","step":1,"x":130,"y":1220,"wires":[["2e8a9748.362d28"]]},{"id":"5409f0a.406221","type":"ui_slider","z":"3e20993d.c684a6","name":"Level slider","label":"Level","tooltip":"","group":"224e2422.a02d9c","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setLevel","min":0,"max":"1000","step":1,"x":130,"y":1260,"wires":[["2e8a9748.362d28"]]},{"id":"b18194e4.3e82a8","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":-37.57738494873047,"y":700,"z":-409.4106140136719},"orientation":{"w":0.9902377724647522,"x":-0.13938859105110168,"y":0,"z":0},"scale":{"x":1.5,"y":1.5,"z":1.5},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1600,"resolution-height":900,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add webtable editor"},"x":110,"y":240,"wires":[[]]},{"id":"7469ef8c.cb725","type":"ui_slider","z":"3e20993d.c684a6","name":"Color slider","label":"Color","tooltip":"","group":"a3ca754b.ad6ed8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setColor","min":0,"max":"1000","step":1,"x":130,"y":1360,"wires":[["afa4e30a.0ddcb"]]},{"id":"150235ad.a5f60a","type":"ui_slider","z":"3e20993d.c684a6","name":"Level slider","label":"Level","tooltip":"","group":"a3ca754b.ad6ed8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"setLevel","min":0,"max":"1000","step":1,"x":130,"y":1400,"wires":[["afa4e30a.0ddcb"]]},{"id":"75625a28.9dff14","type":"comment","z":"3e20993d.c684a6","name":"Gauge","info":"","x":90,"y":1080,"wires":[]},{"id":"6389f208.6fd15c","type":"comment","z":"3e20993d.c684a6","name":"Tanks","info":"","x":90,"y":1180,"wires":[]},{"id":"428490a9.9be34","type":"ui_switch","z":"3e20993d.c684a6","name":"Transparency toggle","label":"Trasparency","tooltip":"","group":"224e2422.a02d9c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"toggleTransparency","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":1300,"wires":[["2e8a9748.362d28"]]},{"id":"37bab02e.37c97","type":"ui_switch","z":"3e20993d.c684a6","name":"Transparency toggle","label":"Trasparency","tooltip":"","group":"a3ca754b.ad6ed8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"toggleTransparency","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":1440,"wires":[["afa4e30a.0ddcb"]]},{"id":"4ce65843.8855b8","type":"comment","z":"3e20993d.c684a6","name":"Objects with custom behavior","info":"","x":160,"y":1040,"wires":[]},{"id":"a53c651d.b715d8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","mode":"local","oriType":"angle-axis","angle-axis":{"angle":10,"axis":{"x":1,"y":0,"z":0}},"reference":"relative","space":"parent","displayName":"rotate it by 10 degrees"},"x":420,"y":480,"wires":[[]]},{"id":"95f9eb56.16bf98","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","eventName":"click","displayName":"When little penguin is clicked"},"x":140,"y":480,"wires":[["a53c651d.b715d8","993a1d54.65dc9"]]},{"id":"993a1d54.65dc9","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","mode":"local","position":{"x":-30,"y":0,"z":0},"reference":"relative","space":"parent","displayName":"move it to left"},"x":390,"y":440,"wires":[[]]},{"id":"8f1b409.5b96dc","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"mediumPengu","eventName":"click","displayName":"When medium penguin is clicked"},"x":150,"y":540,"wires":[["f1e373e.9c8ec9"]]},{"id":"f1e373e.9c8ec9","type":"set-scale","z":"3e20993d.c684a6","settings":{"nodeid":"mediumPengu","mode":"local","scale":{"x":1.1,"y":1.1,"z":1.1},"reference":"relative","space":"parent","displayName":"scale it up"},"x":380,"y":540,"wires":[[]]},{"id":"49f6e49c.e8d1cc","type":"comment","z":"3e20993d.c684a6","name":"Click here for gizmo control inputs","info":"Ctrl + left click to select target\nq, w, e to chage between modes","x":160,"y":40,"wires":[]},{"id":"f1712f6f.424e2","type":"comment","z":"3e20993d.c684a6","name":"Manipulating the wom with events","info":"","x":150,"y":420,"wires":[]},{"id":"e04a2ab1.bb3048","type":"set-shader","z":"3e20993d.c684a6","settings":{"nodeid":"gauge1","shader":"SurfacecolorbiasR","mode":"local","value":0.1,"reference":"relative","displayName":"increase red shader"},"x":410,"y":600,"wires":[[]]},{"id":"2af3f478.66fe1c","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"gauge1","eventName":"click","displayName":"When gauge is clicked"},"x":120,"y":600,"wires":[["e04a2ab1.bb3048"]]},{"id":"c7599aba.1c8248","type":"exploded-view","z":"3e20993d.c684a6","name":"toggle exploded view","nodeid":"pendulum","displacementFactor":"70","x":420,"y":660,"wires":[[]]},{"id":"6ed94f8c.e89df","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"pendulum","eventName":"click","displayName":"When pendulum clicked"},"x":120,"y":660,"wires":[["c7599aba.1c8248"]]},{"id":"c44fd63f.d57758","type":"comment","z":"3e20993d.c684a6","name":"Manipulating the wom form external data source","info":"","x":220,"y":840,"wires":[]},{"id":"1479fe41.0d2352","type":"comment","z":"3e20993d.c684a6","name":"Add mesh hierachy","info":"","x":730,"y":180,"wires":[]},{"id":"714095ba.22fc2c","type":"inject","z":"3e20993d.c684a6","name":"send json: {\"x\":0,\"y\":0,\"z\":1,\"w\":1}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":1,\"y\":0,\"z\":0,\"w\":1}","payloadType":"json","x":190,"y":940,"wires":[["b73a7063.17f4e"]]},{"id":"b73a7063.17f4e","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"bigPengu","mode":"fromInput","reference":"relative","space":"parent","displayName":"rotate big penguin"},"x":570,"y":960,"wires":[[]]},{"id":"1002ce27.c3ee32","type":"inject","z":"3e20993d.c684a6","name":"send json on button click: {\"x\":0,\"y\":0,\"z\":10}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"x\":0,\"y\":0,\"z\":20}","payloadType":"json","x":230,"y":900,"wires":[["6abf39f5.11b488"]]},{"id":"6abf39f5.11b488","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"camera","mode":"fromInput","reference":"relative","space":"parent","displayName":"move camera backwards"},"x":530,"y":900,"wires":[[]]},{"id":"5cea2baf.657e54","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"mediumPengu","position":{"x":0,"y":200,"z":81.31754302978516},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"static","collision":false}},"save":true,"displayName":"add mediumPengu"},"x":510,"y":280,"wires":[[]]},{"id":"c9c69cfd.4fee9","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"bigPengu","position":{"x":400,"y":242.55075073242188,"z":177.8895721435547},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":3,"y":3,"z":3},"autophysical":true,"physical":{"raycast":true,"phyObj":"None"}},"save":true,"displayName":"add bigPengu"},"x":500,"y":340,"wires":[[]]},{"id":"3283a167.afb34e","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"littlePengu","position":{"x":-400,"y":200,"z":110.70819091796875},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None"}},"save":true,"displayName":"add littlePengu"},"x":500,"y":220,"wires":[[]]},{"id":"fcf00a7e.3c3bc8","type":"inject","z":"3e20993d.c684a6","name":"send json:{\"axis\":{\"x\":1,\"y\":0,\"z\":0},\"angle\":10}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"axis\":{\"x\":1,\"y\":0,\"z\":0},\"angle\":10}","payloadType":"json","x":230,"y":980,"wires":[["b73a7063.17f4e"]]},{"id":"67f9da73.7c1df4","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-dashboard","url":"http://localhost:8000/api/ui/","position":{"x":1553.6253662109375,"y":700,"z":58.7780647277832},"orientation":{"x":-0.12834010800034473,"y":-0.2526782410092336,"z":-0.03383621888438882,"w":0.9584036902529891},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add webtable dashboard"},"x":130,"y":300,"wires":[[]]},{"id":"2e8a9748.362d28","type":"mw-tank","z":"3e20993d.c684a6","settings":{"configType":"local","options":{"horizontalTank":{"configFile":"htank1.json","tank":{"id":"horizontalTankLocal","url":"horizontalTank.mesh","position":{"x":1200,"y":40,"z":661.0270385742188},"orientation":{"w":0,"x":0,"y":0.7071068286895752,"z":0.7071068286895752},"scale":{"x":100,"y":100,"z":100},"physical":{"mesh":"horizontalTank.mesh_phy.obj"},"length":2.95,"radius":0.495},"liquid":{"buildingBlock":{"url":"Cube.mesh","edgeLength":2},"resolution":30},"mapping":{"liquid":{"min":0,"max":1000},"color":{"min":0,"max":1000}},"transparentMaterial":"Uveg_1"}},"tankTypeLocal":"horizontal","displayName":"horizontal tank set here"},"x":410,"y":1260,"wires":[]},{"id":"afa4e30a.0ddcb","type":"mw-tank","z":"3e20993d.c684a6","settings":{"configType":"local","tankTypeLocal":"vertical","options":{"verticalTank":{"tank":{"id":"veticalTankLocal","url":"verticalTank.mesh","position":{"x":1800,"y":40,"z":658.4354858398438},"orientation":{"w":0,"x":0,"y":0.7071068286895752,"z":0.7071068286895752},"scale":{"x":100,"y":100,"z":100},"physical":{"mesh":"verticalTank.mesh_phy.obj"}},"liquid":{"url":"Cylinder.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":0.3,"y":0.3,"z":0.05},"maxLiquidScale":{"x":0.3,"y":0.3,"z":0.75},"physical":{"mesh":"horizontalTank.mesh_phy.obj"}},"mapping":{"liquid":{"min":0,"max":1000},"color":{"min":0,"max":1000}},"transparentMaterial":"Uveg_1"}},"displayName":"vertical tank set here"},"x":400,"y":1400,"wires":[]},{"id":"18af1a4b.546a96","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","prop":"position"},"x":810,"y":800,"wires":[["1c25a41e.4176ac"]]},{"id":"9df283a0.4ebdd","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":800,"wires":[["18af1a4b.546a96"]]},{"id":"1c25a41e.4176ac","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":860,"wires":[]},{"id":"e5c91f25.eb8c8","type":"mesh-animator","z":"3e20993d.c684a6","settings":{"meshid":"bigPengu","bigPenguAnimator":"amuse","displayName":"amuse bigPengu"},"x":410,"y":760,"wires":[[]]},{"id":"aded5ce8.1804d","type":"inject","z":"3e20993d.c684a6","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":720,"wires":[["e5c91f25.eb8c8"]]},{"id":"f6de217d.fdaee","type":"inject","z":"3e20993d.c684a6","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":780,"wires":[["e5c91f25.eb8c8"]]},{"id":"5c824d49.9e77f4","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set position"},"x":850,"y":540,"wires":[[]]},{"id":"bb248e4b.a0bdb","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":480,"wires":[["32f0b472.2260ec"]]},{"id":"dfccff4d.e694d","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","mode":"fromInput","reference":"absolute","space":"parent","displayName":"set ori"},"x":850,"y":680,"wires":[[]]},{"id":"23a72906.f4ed36","type":"comment","z":"3e20993d.c684a6","name":"Using offsets","info":"","x":630,"y":420,"wires":[]},{"id":"5cbfc284.8c663c","type":"offset","z":"3e20993d.c684a6","settings":{"offset":{"x":10,"y":0,"z":0},"displayName":"offset position"},"x":640,"y":540,"wires":[["5c824d49.9e77f4"]]},{"id":"8189d595.bfeb18","type":"rotate","z":"3e20993d.c684a6","settings":{"oriType":"angle-axis","angle-axis":{"angle":90,"axis":{"x":1,"y":0,"z":0}},"displayName":"rotate by 90 degrees"},"x":660,"y":680,"wires":[["dfccff4d.e694d"]]},{"id":"52e98120.6d07e","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":620,"wires":[["696d8239.c4d46c"]]},{"id":"32f0b472.2260ec","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","prop":"position","displayName":"get little pengu position"},"x":820,"y":480,"wires":[["5cbfc284.8c663c"]]},{"id":"696d8239.c4d46c","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"littlePengu","prop":"orientation","displayName":"get little pengu ori"},"x":810,"y":620,"wires":[["8189d595.bfeb18"]]},{"id":"67349625.ca5848","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"input","options":{"url":"unit_cube_bevel.mesh","position":{"x":-600,"y":100,"z":100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":50,"y":50,"z":50},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"dynamic","collision":false}},"displayName":"add mesh on input","save":false},"x":850,"y":2280,"wires":[["d4a9b943.e9f068"]]},{"id":"1f4c3a3e.74a546","type":"inject","z":"3e20993d.c684a6","name":"Inject {\"url\":\"penguin.mesh\",\"scale\":5,\"position\":{\"x\":-1000,\"y\":100,\"z\":100}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"penguin.mesh\",\"scale\":{\"x\":5,\"y\":5,\"z\":5},\"position\":{\"x\":-1000,\"y\":100,\"z\":100}}","payloadType":"json","x":360,"y":2440,"wires":[["67349625.ca5848"]]},{"id":"f5c1520d.a82","type":"inject","z":"3e20993d.c684a6","name":"Non JSON input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2280,"wires":[["67349625.ca5848"]]},{"id":"27fbed9b.c5e5b2","type":"inject","z":"3e20993d.c684a6","name":"Inject {\"url\":\"gauge_body.mesh\",\"scale\":30,\"position\":{\"x\":-800,\"y\":100,\"z\":100}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"url\":\"gauge_body.mesh\",\"scale\":{\"x\":30,\"y\":30,\"z\":30},\"position\":{\"x\":-800,\"y\":100,\"z\":100}}","payloadType":"json","x":370,"y":2400,"wires":[["67349625.ca5848"]]},{"id":"8d88bb6.bbe1d48","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"input","options":{"url":"http://localhost:8000/red/","position":{"x":0,"y":1500,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true,"link-type":"dynamic","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable on input","save":false},"x":840,"y":2800,"wires":[["dd2e5d3a.bfb53"]]},{"id":"2d462205.9d614e","type":"inject","z":"3e20993d.c684a6","name":"Inject {\"position\":{\"x\":0,\"y\":2500,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":0,\"y\":2500,\"z\":0}}","payloadType":"json","x":250,"y":2860,"wires":[["8d88bb6.bbe1d48"]]},{"id":"5830ecfc.047e24","type":"inject","z":"3e20993d.c684a6","name":"Inject {\"position\":{\"x\":0,\"y\":3500,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":0,\"y\":3500,\"z\":0}}","payloadType":"json","x":250,"y":2920,"wires":[["8d88bb6.bbe1d48"]]},{"id":"d4a9b943.e9f068","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":2280,"wires":[]},{"id":"9fb54e26.b9067","type":"add-overlay","z":"3e20993d.c684a6","settings":{"create":"input","options":{"url":"https://www.google.com/","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true,"link-type":"dynamic","collision":false},"location":"overlay","width":300,"height":200,"resolution-width":1280,"resolution-height":720,"zorder":40,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","disableIngamePhysical":true,"directKeyEvent":true,"nodeIntegration":true,"webSecurity":true,"scaleFactor":1,"autophysical":false,"transparent":false,"inputDisabled":false},"behavior":"3D only","displayName":"add overlay on input"},"x":840,"y":3220,"wires":[["535d6447.798d7c"]]},{"id":"382918e7.336b38","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"top\":500}","payloadType":"json","x":160,"y":3300,"wires":[["9fb54e26.b9067"]]},{"id":"481231df.d4578","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":3180,"wires":[["9fb54e26.b9067"]]},{"id":"535d6447.798d7c","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":3220,"wires":[]},{"id":"c887ffa7.c8c71","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"Base","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":true,"disabled":false},"data":{"options":{"url":"talp_krom.mesh","position":{"x":-1200,"y":100,"z":100},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":60,"y":60,"z":60},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"dynamic","collision":false}}},"children":[{"id":"j2_2","text":"base2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_2"},"a_attr":{"href":"#","id":"j2_2_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"talp_muanyag.mesh","position":{"x":0,"y":-0.15,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j2_3","text":"horizpen1","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_3"},"a_attr":{"href":"#","id":"j2_3_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","position":{"x":0,"y":0.7,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j3_5","text":"horizpen2","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_5"},"a_attr":{"href":"#","id":"j3_5_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"vizszint_muanyag.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"},{"id":"j3_6","text":"vertpen","icon":"fa fa-dot-circle-o","li_attr":{"id":"j3_6"},"a_attr":{"href":"#","id":"j3_6_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","position":{"x":0,"y":0,"z":1.8},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"},{"id":"j2_4","text":"zeroindicator","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_4"},"a_attr":{"href":"#","id":"j2_4_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"fugg_muanyag.mesh","position":{"x":0,"y":-0.6,"z":0.5},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":0.2,"y":0.2,"z":0.2},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"root"},"name":"add pendulum on input","save":false,"create":"input","x":780,"y":3560,"wires":[["222c0aa6.8561c6"]]},{"id":"c2c634b2.76fed8","type":"inject","z":"3e20993d.c684a6","name":"Inject {\"data\":{\"options\":{\"position\":{\"x\":-1400,\"y\":100,\"z\":100}}}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"options\":{\"position\":{\"x\":-1400,\"y\":100,\"z\":100}}}}","payloadType":"json","x":320,"y":3640,"wires":[["c887ffa7.c8c71"]]},{"id":"7cd7cced.af2e04","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":3520,"wires":[["c887ffa7.c8c71"]]},{"id":"f8b62c8d.56615","type":"comment","z":"3e20993d.c684a6","name":"Add mesh on input","info":"","x":130,"y":2180,"wires":[]},{"id":"3eb83576.7475fa","type":"comment","z":"3e20993d.c684a6","name":"Non object input only triggers ","info":"","x":200,"y":2240,"wires":[]},{"id":"8bc35c9c.0e897","type":"comment","z":"3e20993d.c684a6","name":"Object changes the properties","info":"","x":200,"y":2360,"wires":[]},{"id":"540ff5c3.957d6c","type":"comment","z":"3e20993d.c684a6","name":"Add webtable on input","info":"","x":140,"y":2500,"wires":[]},{"id":"f8a8b24e.d0411","type":"inject","z":"3e20993d.c684a6","name":"Non JSON input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2640,"wires":[["8d88bb6.bbe1d48"]]},{"id":"63444da0.6374a4","type":"comment","z":"3e20993d.c684a6","name":"Non object input only triggers ","info":"","x":200,"y":2560,"wires":[]},{"id":"e0571cf7.97067","type":"comment","z":"3e20993d.c684a6","name":"Object changes the properties","info":"","x":200,"y":2740,"wires":[]},{"id":"5e21b7bb.072d08","type":"comment","z":"3e20993d.c684a6","name":"Add overlay on input","info":"","x":130,"y":3060,"wires":[]},{"id":"1cf55345.ea58ed","type":"comment","z":"3e20993d.c684a6","name":"Non object input only triggers ","info":"","x":200,"y":3140,"wires":[]},{"id":"dbfecb32.781e78","type":"comment","z":"3e20993d.c684a6","name":"Object changes the properties","info":"","x":200,"y":3260,"wires":[]},{"id":"de613a32.f722a8","type":"comment","z":"3e20993d.c684a6","name":"Add mesh hierarchy on input","info":"","x":160,"y":3420,"wires":[]},{"id":"edb1a5d0.6efaa8","type":"comment","z":"3e20993d.c684a6","name":"Non object input only triggers ","info":"","x":200,"y":3480,"wires":[]},{"id":"add1a93c.548c68","type":"comment","z":"3e20993d.c684a6","name":"Object changes the properties","info":"","x":200,"y":3600,"wires":[]},{"id":"dd2e5d3a.bfb53","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":2800,"wires":[]},{"id":"222c0aa6.8561c6","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":3560,"wires":[]},{"id":"199cdbce.244ad4","type":"add-light","z":"3e20993d.c684a6","settings":{"create":"input","options":{"position":{"x":0,"y":400,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"link-type":"ghost","raycast":false,"collision":false},"lighttype":"spot","diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":-1,"z":0},"autophysical":false},"displayName":"add light on input"},"x":770,"y":3880,"wires":[[]]},{"id":"9748cf5a.58bf","type":"inject","z":"3e20993d.c684a6","name":"{\"position\":{\"x\":600,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"exp-light2\",\"position\":{\"x\":600,\"y\":1000,\"z\":0}}","payloadType":"json","x":260,"y":3840,"wires":[["199cdbce.244ad4"]]},{"id":"ea6eccc9.8acf5","type":"inject","z":"3e20993d.c684a6","name":"{\"position\":{\"x\":-600,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":-600,\"y\":1000,\"z\":0}}","payloadType":"json","x":260,"y":3880,"wires":[["199cdbce.244ad4"]]},{"id":"73a7b61d.8f6e88","type":"inject","z":"3e20993d.c684a6","name":"{\"position\":{\"x\":0,\"y\":1000,\"z\":0}}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":{\"x\":0,\"y\":1000,\"z\":0}}","payloadType":"json","x":250,"y":3920,"wires":[["199cdbce.244ad4"]]},{"id":"83da9d0c.3495","type":"comment","z":"3e20993d.c684a6","name":"The following section shows how to add nodes dynamically.","info":"","x":210,"y":2080,"wires":[]},{"id":"12a34fb7.55c36","type":"comment","z":"3e20993d.c684a6","name":"NOTE: Whenever the flow is restarted the dynamically added nodes are deleted.","info":"","x":300,"y":2120,"wires":[]},{"id":"b6594633.bba1d8","type":"comment","z":"3e20993d.c684a6","name":"Docs: https://tools.maxwhere.com/voc-builder/latest/","info":"","x":510,"y":40,"wires":[]},{"id":"19f85c3.2363ba4","type":"comment","z":"3e20993d.c684a6","name":"Ctrls + S to save runtime changes to node trasformation(position, scale, orientation. (Only if \"Save\" checkbox is checked on the given node.)","info":"","x":480,"y":100,"wires":[]},{"id":"5f9348c.48ad2b8","type":"comment","z":"3e20993d.c684a6","name":"Add light on input","info":"","x":130,"y":3780,"wires":[]},{"id":"48dfc722.d5d258","type":"comment","z":"3e20993d.c684a6","name":"Log node property to the debug panel","info":"","x":710,"y":740,"wires":[]},{"id":"e541a9179c25384b","type":"set-skybox","z":"3e20993d.c684a6","settings":{"create":"input","material":"MolliaSkybox","distance":5000},"x":260,"y":140,"wires":[[]]},{"id":"e91beae8d290ee00","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["e541a9179c25384b"]]},{"id":"f247f2794e6db88f","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-docs","url":"https://tools.maxwhere.com/voc-builder/latest/","position":{"x":-1622.4490966796875,"y":700,"z":146.70521545410156},"orientation":{"w":0.9524558782577515,"x":-0.127543643116951,"y":0.274247944355011,"z":0.03672461584210396},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add voc docs"},"x":90,"y":360,"wires":[[]]},{"id":"f7222ec36aef30f4","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"PlanetPengu","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"planet-pengu","position":{"x":-1864.5323486328125,"y":263.7706604003906,"z":1383.7138671875},"orientation":{"w":0.7416927218437195,"x":0,"y":0.6707398295402527,"z":0},"scale":{"x":10,"y":10,"z":10},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}}},"children":[{"id":"j1_2","text":"MoonPengu","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_2"},"a_attr":{"href":"#","id":"j1_2_anchor"},"state":{"loaded":true,"opened":false,"selected":true,"disabled":false},"data":{"options":{"url":"penguin.mesh","id":"moon-pengu","position":{"x":-21.110763549804688,"y":0,"z":49.374088287353516},"orientation":{"w":-0.9659263491630554,"x":0,"y":0.2588173449039459,"z":0},"scale":{"x":0.20000000298023224,"y":0.20000000298023224,"z":0.20000000298023224},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}}},"children":[],"type":"child"}],"type":"root"},"name":"add-planet-pengu","save":true,"create":"init","x":190,"y":1580,"wires":[[]]},{"id":"cb301c5f5f58888a","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.05","crontab":"","once":true,"onceDelay":"2","topic":"","payloadType":"date","x":130,"y":1680,"wires":[["9c25e9e5850e4973","2d66634b2f8f8db3"]]},{"id":"9c25e9e5850e4973","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"moon-pengu","mode":"local","position":{"x":-1,"y":0,"z":0},"reference":"relative","space":"local","displayName":"translate moon"},"x":320,"y":1640,"wires":[[]]},{"id":"2d66634b2f8f8db3","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"moon-pengu","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"local","displayName":"rotate moon"},"x":310,"y":1720,"wires":[[]]},{"id":"cccb75abea525f58","type":"comment","z":"3e20993d.c684a6","name":"Orbiting penguins","info":"","x":80,"y":1520,"wires":[]},{"id":"1ba767460d802b06","type":"inject","z":"3e20993d.c684a6","name":"Wait 10 min, then start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":"600","topic":"","payloadType":"date","x":170,"y":4160,"wires":[["fba11d804ad34829"]]},{"id":"fba11d804ad34829","type":"function","z":"3e20993d.c684a6","name":"Random position and gravity","func":"\nmsg.payload = {\n    position: {\n        x: (Math.random() < 0.5 ? -1 : 1) * 4000 * Math.random(),\n        y: Math.random() * 3000 + 2000,\n        z: (Math.random() < 0.5 ? -1 : 1) * 4000 * Math.random(),\n    },\n    physical: {\n        coefficients: {\n            gravity: {\n                x: (Math.random() < 0.5 ? -1 : 1) * 10 * Math.random(),\n                y: -9.81,\n                z: (Math.random() < 0.5 ? -1 : 1) * 10 * Math.random(),\n            },\n        },\n    },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":4220,"wires":[["271f04e8878ecc12"]]},{"id":"eb0918177289dd72","type":"comment","z":"3e20993d.c684a6","name":"Let it rain!","info":"","x":100,"y":4080,"wires":[]},{"id":"271f04e8878ecc12","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"input","options":{"url":"penguin.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"phyObj":"None","link-type":"dynamic","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"raycast":false,"collision":false}},"displayName":"add a dynamic pengu","save":false},"x":200,"y":4280,"wires":[[]]},{"id":"a3c4b11a17465305","type":"inject","z":"859dd57f5dd3d187","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":130,"y":180,"wires":[["30648f963b64fc64"]]},{"id":"30648f963b64fc64","type":"function","z":"859dd57f5dd3d187","name":"Random position","func":"\nmsg.payload = {\n    position: {\n        x: (Math.random() < 0.5 ? -1 : 1) * 10000 * Math.random(),\n        y: Math.random() * 3000 + 2000,\n        z: (Math.random() < 0.5 ? -1 : 1) * 10000 * Math.random(),\n    },\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":240,"wires":[["d406eeb3f33961a6"]]},{"id":"d406eeb3f33961a6","type":"add-mesh","z":"859dd57f5dd3d187","settings":{"create":"input","options":{"url":"penguin.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"displayName":"add a pengu","save":false},"x":170,"y":300,"wires":[[]]},{"id":"10099506d60e99ec","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"penguin.mesh","id":"jumping-pengu","position":{"x":2000,"y":160.7322235107422,"z":1259.5511474609375},"orientation":{"x":0,"y":-0.6583004551447719,"z":0,"w":0.7527552794608527},"scale":{"x":3,"y":3,"z":3},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":false},"x":120,"y":1880,"wires":[[]]},{"id":"599b31bd10c0ab32","type":"comment","z":"3e20993d.c684a6","name":"Mesh with animation","info":"","x":140,"y":1800,"wires":[]},{"id":"06cb0725d9d50289","type":"inject","z":"3e20993d.c684a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payloadType":"date","x":130,"y":1960,"wires":[["a85b94d5201ea949"]]},{"id":"a85b94d5201ea949","type":"animate","z":"3e20993d.c684a6","settings":{"nodeid":"jumping-pengu","attribute":"position","options":{"toPosition":[{"x":2000,"y":160,"z":1260},{"x":2000,"y":1000,"z":1260}],"duration":1,"repeat":true,"loop":true,"cubic":"ease-out-sine","reference":"absolute","space":"parent"},"mode":"local"},"x":320,"y":1960,"wires":[[]]},{"id":"e754e735a7bd3009","type":"add-webtable","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":-1200,"y":600,"z":130},"orientation":{"w":0.9902377724647522,"x":-0.13938859105110168,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1600,"resolution-height":900,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"add webtable editor"},"x":170,"y":520,"wires":[[]]},{"id":"7c8a24d2d104df07","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba1/homerseklet","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":170,"y":100,"wires":[["f7da930025d4c137"]]},{"id":"15b51d7ec89693e4","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba1/paratartalom","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":170,"y":160,"wires":[["88c88d716dc558e7"]]},{"id":"a0e770c98a7ea6dc","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba1/izzo","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":290,"y":260,"wires":[["11e93541fcccd477","3dc4b90e52286bab"]]},{"id":"a95dc76d3aaf4fb8","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba2/izzo","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":290,"y":340,"wires":[["018d4485b7f916bb","660542c825844490"]]},{"id":"39a4ff76d1dec18d","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba3/izzo","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":290,"y":420,"wires":[["34b5e0ee821c9cd4","0e85ec7efb76bf62"]]},{"id":"d9c7a03db7a6ebe1","type":"add-light","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"led3","position":{"x":-800,"y":800,"z":800},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"link-type":"static","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"raycast":false,"collision":false},"lighttype":"point","diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.00009,"quadratic":3e-7},"direction":{"x":0,"y":-1,"z":0},"autophysical":false},"displayName":"led3"},"x":130,"y":420,"wires":[[]]},{"id":"57d22d90aca4a8c0","type":"add-mesh","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"url":"ajto.001.mesh","id":"ajto1","position":{"x":-298.2449951171875,"y":411.22601318359375,"z":-33.57699966430664},"orientation":{"w":0.7071067690849304,"x":0.7071067690849304,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"ajto1"},"x":410,"y":520,"wires":[[]]},{"id":"93d22f04ecf98520","type":"add-mesh","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"url":"ajto.001.mesh","id":"ajto2","position":{"x":-925.1090087890625,"y":414.4419860839844,"z":1900.9649658203125},"orientation":{"w":0.7071067690849304,"x":0.7071067690849304,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"ajto2"},"x":530,"y":520,"wires":[[]]},{"id":"10b880cb17f9f80b","type":"add-mesh","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"url":"ajto.001.mesh","id":"ajto3","position":{"x":529.0560302734375,"y":411.22601318359375,"z":570.9290161132812},"orientation":{"w":0.5,"x":0.5,"y":-0.5,"z":0.5},"scale":{"x":1,"y":1,"z":1},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"ajto3"},"x":650,"y":520,"wires":[[]]},{"id":"519bae23e4569ce4","type":"node-event-subscribe","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto1","eventName":"click","displayName":"ajto1nyit"},"x":140,"y":600,"wires":[["9159bb6892f963d9","16ac024bee5adec6"]]},{"id":"9159bb6892f963d9","type":"set-orientation","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto1","mode":"local","oriType":"quaternion","quaternion":{"x":0.5,"y":-0.5,"z":0.5,"w":0.5},"reference":"absolute","space":"parent","displayName":"ajto1nyitori"},"x":340,"y":600,"wires":[[]]},{"id":"96159f2eb0caf9c9","type":"node-event-subscribe","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto1","eventName":"dblclick","displayName":"ajto1zar"},"x":490,"y":600,"wires":[["d64570c5753c738f","8849b402a9c5b596"]]},{"id":"d64570c5753c738f","type":"set-orientation","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto1","mode":"local","oriType":"quaternion","quaternion":{"x":1,"y":0,"z":0,"w":1},"reference":"absolute","space":"parent","displayName":"ajto1zarori"},"x":700,"y":600,"wires":[[]]},{"id":"16ac024bee5adec6","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto1","mode":"local","position":{"x":-78,"y":411.226,"z":-233},"reference":"absolute","space":"parent","displayName":"ajto1nyitpos"},"x":350,"y":640,"wires":[[]]},{"id":"8849b402a9c5b596","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto1","mode":"local","position":{"x":-298.245,"y":411.226,"z":-33.577},"reference":"absolute","space":"parent","displayName":"ajto1zarpos"},"x":710,"y":640,"wires":[[]]},{"id":"0957b7ae0af27787","type":"set-orientation","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto2","mode":"local","oriType":"quaternion","quaternion":{"x":0.5,"y":-0.5,"z":0.5,"w":0.5},"reference":"absolute","space":"parent","displayName":"ajto2nyitori"},"x":340,"y":680,"wires":[[]]},{"id":"61b76dc11c29a5a1","type":"set-orientation","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto2","mode":"local","oriType":"quaternion","quaternion":{"x":1,"y":0,"z":0,"w":1},"reference":"absolute","space":"parent","displayName":"ajto2zarori"},"x":700,"y":680,"wires":[[]]},{"id":"7361fbbd75a48bf0","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto2","mode":"local","position":{"x":-705,"y":414.442,"z":1700},"reference":"absolute","space":"parent","displayName":"ajto2nyitpos"},"x":350,"y":720,"wires":[[]]},{"id":"1388d51d72fb05ba","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto2","mode":"local","position":{"x":-925.109,"y":414.442,"z":1900.965},"reference":"absolute","space":"parent","displayName":"ajto2zarpos"},"x":710,"y":720,"wires":[[]]},{"id":"95dc12af610671db","type":"node-event-subscribe","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto3","eventName":"click","displayName":"ajto3nyit"},"x":140,"y":760,"wires":[["f23afab7070d3f47","ca45e4c20ffe45aa"]]},{"id":"f23afab7070d3f47","type":"set-orientation","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto3","mode":"local","oriType":"angle-axis","angle-axis":{"angle":90,"axis":{"x":1,"y":0,"z":0}},"reference":"absolute","space":"parent","displayName":"ajto3nyitori"},"x":340,"y":760,"wires":[[]]},{"id":"db8fd60fc915c436","type":"node-event-subscribe","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto3","eventName":"dblclick","displayName":"ajto3zar"},"x":490,"y":760,"wires":[["3ec1dedc5630c714","ff761e3ed8e5f3d8"]]},{"id":"3ec1dedc5630c714","type":"set-orientation","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto3","mode":"local","oriType":"quaternion","quaternion":{"x":0.5,"y":-0.5,"z":0.5,"w":0.5},"reference":"absolute","space":"parent","displayName":"ajto3zarori"},"x":700,"y":760,"wires":[[]]},{"id":"ca45e4c20ffe45aa","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto3","mode":"local","position":{"x":710,"y":411.226,"z":745},"reference":"absolute","space":"parent","displayName":"ajto3nyitpos"},"x":350,"y":800,"wires":[[]]},{"id":"ff761e3ed8e5f3d8","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto3","mode":"local","position":{"x":529.056,"y":411.226,"z":570.929},"reference":"absolute","space":"parent","displayName":"ajto3zarpos"},"x":710,"y":800,"wires":[[]]},{"id":"827b405f3b61f8a7","type":"node-event-subscribe","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto2","eventName":"click","displayName":"ajto2nyit"},"x":140,"y":680,"wires":[["0957b7ae0af27787","7361fbbd75a48bf0"]]},{"id":"babf68b7c96a8655","type":"node-event-subscribe","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"ajto2","eventName":"dblclick","displayName":"ajto2zar"},"x":490,"y":680,"wires":[["61b76dc11c29a5a1","1388d51d72fb05ba"]]},{"id":"a0b906166c369d35","type":"add-mesh","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"url":"Cube.002.mesh","id":"robporsz","position":{"x":300,"y":0,"z":150},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":0.30000001192092896,"y":0.30000001192092896,"z":0.30000001192092896},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"robotporszivo"},"x":160,"y":960,"wires":[[]]},{"id":"4cd0a6d9bb5b11f9","type":"animate","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"robporsz","attribute":"position","options":{"toPosition":[{"x":300,"y":0,"z":1700},{"x":-1700,"y":0,"z":1700},{"x":-1700,"y":0,"z":150},{"x":100,"y":0,"z":150},{"x":100,"y":0,"z":1500},{"x":-1500,"y":0,"z":1500},{"x":-1500,"y":0,"z":150},{"x":300,"y":0,"z":150}],"duration":3,"cubic":"ease","reference":"absolute","space":"world","repeat":false,"loop":false},"mode":"local"},"x":720,"y":1040,"wires":[[]]},{"id":"9c0ae3811a63980f","type":"animate","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"robporsz","attribute":"position","options":{"toPosition":[{"x":300,"y":0,"z":150}],"duration":3,"cubic":"ease","reference":"absolute","space":"world","repeat":false,"loop":false},"mode":"local"},"x":720,"y":1180,"wires":[[]]},{"id":"a19abf36b5957e0e","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba3/rob","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":150,"y":1040,"wires":[["80ecb53b101d45bc","8f39b381d6e525a3"]]},{"id":"8123a3d2f95dbc16","type":"add-light","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"led2","position":{"x":1200,"y":800,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"link-type":"static","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"raycast":false,"collision":false},"lighttype":"point","diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.00009,"quadratic":3e-7},"direction":{"x":0,"y":-1,"z":0},"autophysical":false},"displayName":"led2"},"x":130,"y":340,"wires":[[]]},{"id":"1a788f7c8f4c9075","type":"add-light","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"led1","position":{"x":-800,"y":800,"z":-800},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"link-type":"static","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"raycast":false,"collision":false},"lighttype":"point","diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.00009,"quadratic":3e-7},"direction":{"x":0,"y":-1,"z":0},"autophysical":false},"displayName":"led1"},"x":130,"y":260,"wires":[[]]},{"id":"34b5e0ee821c9cd4","type":"switch","z":"0eb9eb9c6e2ef398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":400,"wires":[["23187f2194f66fad"]]},{"id":"0e85ec7efb76bf62","type":"switch","z":"0eb9eb9c6e2ef398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":440,"wires":[["2c8fc89216daab9b"]]},{"id":"23187f2194f66fad","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"led3","mode":"local","position":{"x":-800,"y":800,"z":800},"reference":"absolute","space":"world"},"x":650,"y":400,"wires":[[]]},{"id":"2c8fc89216daab9b","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"led3","mode":"local","position":{"x":-10000,"y":10000,"z":10000},"reference":"absolute","space":"world"},"x":650,"y":440,"wires":[[]]},{"id":"018d4485b7f916bb","type":"switch","z":"0eb9eb9c6e2ef398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":320,"wires":[["3365c28c32b17025"]]},{"id":"660542c825844490","type":"switch","z":"0eb9eb9c6e2ef398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":360,"wires":[["dedcb2beff010cc2"]]},{"id":"3365c28c32b17025","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"led2","mode":"local","position":{"x":1200,"y":800,"z":0},"reference":"absolute","space":"world"},"x":650,"y":320,"wires":[[]]},{"id":"dedcb2beff010cc2","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"led2","mode":"local","position":{"x":-10000,"y":10000,"z":10000},"reference":"absolute","space":"world"},"x":650,"y":360,"wires":[[]]},{"id":"11e93541fcccd477","type":"switch","z":"0eb9eb9c6e2ef398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":240,"wires":[["a48ed62405f63d66"]]},{"id":"3dc4b90e52286bab","type":"switch","z":"0eb9eb9c6e2ef398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":280,"wires":[["d29b147f6688e80a"]]},{"id":"a48ed62405f63d66","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"led1","mode":"local","position":{"x":-800,"y":800,"z":-800},"reference":"absolute","space":"world"},"x":650,"y":240,"wires":[[]]},{"id":"d29b147f6688e80a","type":"set-position","z":"0eb9eb9c6e2ef398","settings":{"nodeid":"led1","mode":"local","position":{"x":-10000,"y":10000,"z":10000},"reference":"absolute","space":"world"},"x":650,"y":280,"wires":[[]]},{"id":"f7da930025d4c137","type":"ui_gauge","z":"0eb9eb9c6e2ef398","name":"","group":"e97008a6.baaeb8","order":1,"width":"6","height":"6","gtype":"gage","title":"Hmrsklet","label":"C","format":"{{value}}","min":"15","max":"32","colors":["#000cb3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":100,"wires":[]},{"id":"88c88d716dc558e7","type":"ui_gauge","z":"0eb9eb9c6e2ef398","name":"","group":"e97008a6.baaeb8","order":1,"width":"6","height":"6","gtype":"gage","title":"Pratartalom","label":"%","format":"{{value}}","min":"20","max":"100","colors":["#0095b3","#0063e6","#0000ff"],"seg1":"","seg2":"","x":390,"y":160,"wires":[]},{"id":"1b1b2885074f2b80","type":"add-webtable","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"hom_para","url":"http://localhost:8000/api/ui/","position":{"x":-1000,"y":600,"z":-120},"orientation":{"w":0,"x":0,"y":0.9950371980667114,"z":0.09950371831655502},"scale":{"x":0.5,"y":0.5,"z":0.5},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":600,"height":800,"resolution-width":600,"resolution-height":798,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"szoba1_dashboard"},"x":170,"y":40,"wires":[[]]},{"id":"dac3e8fa9ba066bc","type":"mqtt in","z":"0eb9eb9c6e2ef398","name":"","topic":"szoba2/rele","qos":"2","datatype":"auto","broker":"252ab743c76c9e0d","nl":false,"rap":true,"rh":0,"x":150,"y":1300,"wires":[["e073b3d8cca1b0a2"]]},{"id":"80ecb53b101d45bc","type":"switch","z":"0eb9eb9c6e2ef398","name":"start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1040,"wires":[["4cd0a6d9bb5b11f9"]]},{"id":"8f39b381d6e525a3","type":"switch","z":"0eb9eb9c6e2ef398","name":"stop","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1140,"wires":[["4fdfa54a9b325fcb","a480d0e2a15db824"]]},{"id":"4fdfa54a9b325fcb","type":"function","z":"0eb9eb9c6e2ef398","name":"","func":"let wom = global.get(\"wom\")\nwom.select('#robporsz').deanimate('position')\nreturn { payload: wom.select('#robporsz')}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1140,"wires":[[]]},{"id":"a480d0e2a15db824","type":"delay","z":"0eb9eb9c6e2ef398","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":570,"y":1180,"wires":[["9c0ae3811a63980f"]]},{"id":"8ca702b8e4e9189a","type":"function","z":"0eb9eb9c6e2ef398","name":"Random position and gravity","func":"\nmsg.payload = {\n    position: {\n        x: (Math.random() < 0.5 ? -1 : 1) * 4000 * Math.random(),\n        y: Math.random() * 3000 + 2000,\n        z: (Math.random() < 0.5 ? -1 : 1) * 4000 * Math.random(),\n    },\n    physical: {\n        coefficients: {\n            gravity: {\n                x: (Math.random() < 0.5 ? -1 : 1) * 10 * Math.random(),\n                y: -9.81,\n                z: (Math.random() < 0.5 ? -1 : 1) * 10 * Math.random(),\n            },\n        },\n    },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1300,"wires":[["ea0c4660f6180e19"]]},{"id":"ea0c4660f6180e19","type":"add-mesh","z":"0eb9eb9c6e2ef398","settings":{"create":"input","options":{"url":"penguin.mesh","position":{"x":0,"y":0,"z":0},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":2,"y":2,"z":2},"autophysical":true,"physical":{"phyObj":"None","link-type":"dynamic","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"raycast":false,"collision":false}},"displayName":"add a dynamic pengu","save":false},"x":980,"y":1300,"wires":[[]]},{"id":"597b4b39c4fd60c2","type":"add-light","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"nap","position":{"x":5000,"y":2000,"z":-3000},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true,"link-type":"static","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false},"lighttype":"directional","diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":9e-20,"quadratic":3e-40},"direction":{"x":-0.5,"y":-1,"z":0.3},"autophysical":false},"displayName":"nap"},"x":650,"y":40,"wires":[[]]},{"id":"63ed1b9156ce9213","type":"add-webtable","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"id":"openhab","url":"http://openhabian:8080/","position":{"x":540,"y":600,"z":-500},"orientation":{"w":0.7071067690849304,"x":0,"y":0.7071067690849304,"z":0},"scale":{"x":0.800000011920929,"y":0.800000011920929,"z":0.800000011920929},"physical":{"raycast":true,"link-type":"static","collision":false},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"save":true,"displayName":"szoba3_dashboard"},"x":430,"y":40,"wires":[[]]},{"id":"e073b3d8cca1b0a2","type":"trigger","z":"0eb9eb9c6e2ef398","name":"","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-200","extend":false,"overrideDelay":false,"units":"ms","reset":"OFF","bytopic":"all","topic":"topic","outputs":1,"x":400,"y":1300,"wires":[["8ca702b8e4e9189a"]]},{"id":"1b98d12fe7066af2","type":"add-mesh","z":"0eb9eb9c6e2ef398","settings":{"create":"init","options":{"url":"penguin.mesh","id":"pingvin","position":{"x":1200,"y":80,"z":-800},"orientation":{"x":0,"y":-0.7071067811865475,"z":0,"w":0.7071067811865475},"scale":{"x":4,"y":4,"z":4},"autophysical":true,"physical":{"raycast":true,"phyObj":"None","link-type":"ghost","coefficients":{"restitution":0.7,"linear-damping":0.1,"angular-damping":0.1,"friction":0.3,"rolling-friction":0.01,"gravity":{"x":0,"y":-9.81,"z":0}},"collision":false}},"save":true,"displayName":"pingvin"},"x":820,"y":520,"wires":[[]]}]